
body {
	background-image: url(../img/black_linen_v2.png);
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

.label {
    padding: 0 .6em .0;
}

.checkbox input[type=checkbox], 
.checkbox-inline input[type=checkbox], 
.radio input[type=radio], 
.radio-inline input[type=radio] {
    position: relative;
}

.center {
	float: none;
    margin: 90px auto;
    background-color: #fff;
    border-radius: 5px;
    padding-bottom: 5px;
}

ul {
	padding-left: 0;
}

p {
    margin: 0 13px 10px;
    font-size: 16px;
    color: #646464;
}